* {
  box-sizing: border-box;
  font-family: "Architects Daughter", cursive;
}

h1 {
  padding-left: 1%;
}

h2 {
  margin: 1% 0 1% 0;
}

button {
  margin-right: 1%;
}

ul {
  margin-top: 0;
}

.navbar {
  background-color: rgb(31, 127, 253);
  border-bottom: black solid 1px;
  padding: 8px 0 0 0;
}

.content {
  border: black 1px solid;
  padding: 1%;
  margin: 1%;
}

.col-12 {
  flex: auto;
}

#item-1 {
  background-color: rgba(255, 105, 180, 0.288);
}

#item-2 {
  background-color: rgba(43, 206, 43, 0.349);
}

#item-3 {
  background-color: rgba(76, 0, 130, 0.288);
}

@media (min-width: 768px) {
  .menu,
  .navbar-toggler {
    display: none;
  }
}

@media (max-width: 767px) {
  .menu-content {
    border-top: rgb(31, 127, 253) 1px solid;
    border-bottom: rgb(31, 127, 253) 1px solid;
  }

  .navbar-toggler {
    background-color: rgb(0, 174, 255);
  }

  .menu {
    background-color: rgb(0, 174, 255);
    padding-left: 1%;
    padding-right: 1%;
  }
}
