* {
  box-sizing: border-box;
  font-family: "Architects Daughter", cursive;
}

.container-fluid {
  border-bottom: black 1px solid;
}

h2,
h3 {
  text-align: center;
}

.navbar {
  background-color: grey;
}

.row {
  width: 100%;
  margin: 0;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: black;
}

.column {
  background-color: grey;
  border: black solid 1px;
  width: 98%;
  padding: 1%;
  margin: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-12 {
    flex-basis: auto;
  }
}

@media (min-width: 992px) {
  .nav-item {
    visibility: hidden;
  }
}
